<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">Heroes Marvel y DC</h1>
        <hr>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum magni, laboriosam quas, impedit repellendus quae placeat veritatis deserunt voluptate, rerum est sunt veniam doloribus quod exercitationem autem ab! Sed, nam!</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <img class="card-img-top" src="assets/img/aquaman.png" alt="Aquaman Hero">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img class="card-img-top" src="assets/img/aquaman.png" alt="Aquaman Hero">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

