<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">Heroes Marvel y DC</h1>
        <hr>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum magni, laboriosam quas, impedit repellendus quae placeat veritatis deserunt voluptate, rerum est sunt veniam doloribus quod exercitationem autem ab! Sed, nam!</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
        <div class="card">
            <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
            <div class="card-body">
            <h5 class="card-title">{{ heroe.nombre }}</h5>
            <p class="card-text">{{ heroe.bio }}</p>
            <div class="text-center">
                <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
                <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
                <!-- <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary btn-block">Ver más...</a> !-->
            </div>
        </div>
    </div>
</div>

